.festival_item {
  padding: 30px 60px;
}
.container_img {
  // width: 80%;
  display: block;
  text-align: center;
}
.container_img img {
  width: 100%;
}
.festival_item_body {
//   display: flex;
}
// .container_img
.container_content {
    padding: 15px 0;
}
