$primary-color: #485df8;
$primary-color-hover: #334bfa;
$primary-color-bg: #0266b80a;
$sub_color: #4f4f4f;
$third-color: #737376;
$title_color: #091E42;
$text_color: #222;
$error_color: #EB5757;
$border_color: rgba(9, 30, 66, 0.12);
$hover_color: #f4f5f7;
$icon_color: #000000;
$yellow_color: #F2C94C;